/* ---------------------------------------------------------- *\
  Reset
\* ---------------------------------------------------------- */

* {
  margin: 0; padding: 0; border: 0;
}

.footer, .logo {
  background-color: #2b2b2b;
  width: 100%;
}