/* ---------------------------------------------------------- *\
  Reset
\* ---------------------------------------------------------- */

* {
  margin: 0; padding: 0; border: 0; 
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------------------- *\
  Helpers
\* ---------------------------------------------------------- */




/* ---------------------------------------------------------- *\
  Header
\* ---------------------------------------------------------- */

.header {
  line-height: 0;
  height: 64px; width: 100%;
  background-color: #f8f8f8;
  display: inline-block;
}


.logo {
/*   background-color: orange; */
  height: 30px; width: 100px;
  padding: 17px;
  float: left;
  margin-right: 15px;
}

.logo img {
  height: 100%;
}

.nav {
/*   background-color: royalblue; */
  display: inline-block;
  width: 350px;
  overflow: hidden;
  float: left;
  padding: 0 10px;
}

.nav li {
/*   background-color: darkgoldenrod; */
  display: inline-block;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: normal;
  
}

li:last-child {
  margin-right: 0;
}



.nav a {
  height: 100%;
  display: inline-block;
  padding: 23px 0;
}


/* ---------------------------------------------------------- *\
  Main-container
\* ---------------------------------------------------------- */


.main-container {
/*   height: 764px; */
  
  width: 100%;
  background-color: #232323;
  display: inline-block;
}

.img-block {
  font-size: 0;
}

.img-block .left-image {
  display: inline-block;
  background-color: red;
  background-image: url("http://pillar.mediumra.re/img/hero28.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 50%;
  height: 764px;
/* -------------------------------------------------------------------- */
}

.text-control {
/*   background-color: royalblue; */
  color: #f5f5f5;
  width: 487px;
  position: absolute;
  top: 43%;
  margin-left: 40px;
}

.img-block .container {
/*   background-color: orange; */
  display: inline-block;
  width: 50%;
  height: 764px;
/* ----------------------------------------------------------------------- */

}

.text-control h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 26px;
}

.text-control p {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 26px;
}

.video-button-control {
/*   background-color: darksalmon; */
  height: 75px; width: 200px;
  position: relative;
}

.play-button {
  height: 75px; width: 75px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;  
}

.video-button-control p{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 43%;  
}



/* ---------------------------------------------------------- *\
  Blue Section
\* ---------------------------------------------------------- */


.blue-section {
  padding: 100px 30px;
  background-color: #425cbb;
  color: #fff
}


.blue-section .col {
  max-width: 33%;  
/*   background-color: orange; */
  display: inline-block;
 }


.blue-section .icon {
  height: 60px; width: 60px;
  margin-bottom: 13px;
}

.blue-section .icon img {
  height: 100%;
}

.container .feature{
  padding: 0 50px;
}

.feature h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 13px;
}

.feature p {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: normal;
  height: 130px;
  margin-bottom: 26px;
}


/* ---------------------------------------------------------- *\
  Chair-Section
\* ---------------------------------------------------------- */

.chair-section {
  width: 100%; height: 654px;
  background-color: skyblue;
  font-size: 0;
}

.image-block .image-block-holder {
  height: 100px; width: 100px;
  background-color: darkcyan;
  display: inline-block;
  width: 50%; height: 654px;
  background-image: url("http://pillar.mediumra.re/img/hero29.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.image-block .containerr {
  height: 100px; width: 100px;
  background-color: #f4f4f4;
  display: inline-block;
  width: 50%; height: 654px;
}

.containerr{
  position: relative;
}


.containerr .row {
/*   background-color: darkkhaki; */
  position: absolute;
  top: 10%;
  font-size: 10px;
  padding: 90px;
  
}

.containerr h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  color: #343434;
}

.containerr p {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #767676;
  margin-bottom: 26px;
}


.btn {
  border: 2px solid  #000;
  padding: 10px 55px;
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 26px;
}




/* ---------------------------------------------------------- *\
  Partners
\* ---------------------------------------------------------- */

.section-partners {
  background-color: #fff;
  width: 100%; 
  padding: 80px 0;
  text-align: center;
}

.section-partners li {
/*   background-color: skyblue; */
  width: 157px; height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

.section-partners img {
  height: 100%;
}



/* ---------------------------------------------------------- *\
  Pre Footer
\* ---------------------------------------------------------- */


.prefooter {
  background-color: orange;
  width: 100%;
  padding: 100px 0;
  
}

.prefooter .container {
  background-color: red;
  margin: 0 50px;
	
}


.prefooter .coll {
  display: inline-block;
	vertical-align:top;
  width: 23%;
  height: 300px;
  background-color: blue;
  
}

.prefooter .coll .footer-logo {
  height: 40px;
  width: 200px;
  background-color: darkmagenta;
	margin-bottom: 26px;
}

.prefooter .coll img {
  height: 100%;
}

.coll p {
	color: #f5f5f5;
  font-family: 'Lora', serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 26px;
	margin-bottom: 26px;
}

.fnav li {
	color: #fff;
	text-decoration: none;
	background-color: skyblue;
	margin-bottom: 15px;
}




















