/* ---------------------------------------------------------- *\
  Reset
\* ---------------------------------------------------------- */

* {
  margin: 0; padding: 0; border: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* ---------------------------------------------------------- *\
  Tests
\* ---------------------------------------------------------- */
/* 
body {
  background-color: #2b2b2b;
  
}
 */

/* ---------------------------------------------------------- *\
  Helpers
\* ---------------------------------------------------------- */


.shell:after { content: ''; display: table; line-height: 0; clear: both; }
.hidden { display: none; }


em {
/*   color: #fff; */
  font-family: 'Kaushan Script', cursive;
  font-size: 14px;
  letter-spacing: 1px;
  color: #303233;
  margin-bottom: 3px;
}

.centering {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 100px;
}

h2 {
/*     color: #fff; */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 15px;
}

.line {
  width: 36px; height: 1px;
  display: inline-block;
  background: #303233;
  margin-bottom: 15px;
}

p.smtext {
/*   color: #fff; */
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 17.14px;
  padding-bottom: 80px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #7a7a7a;
  line-height: 24px;
}



button {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 17.875px;
  padding: 14px 50px;
  text-align: center;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #fcca03;
}

button:focus {
  outline:0;
}







/* ---------------------------------------------------------- *\
  Slider Section
\* ---------------------------------------------------------- */

.slider {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: orange;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 20%; 
  z-index: 20;
  
  
}

.sltl { /* Slider text left side wrapper */
/*   background-color: red; */
  text-align: center;
  width: 660px;
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}

.sltl h3 {
  color: #303233;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: normal;
}

.sltl h1
{
  color: #303233;
  font-size: 100px;
  font-weight: bold;
  line-height: 130px;
}

p.sltext {
/*   color: #fff; */
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 80px;
}




/* ---------------------------------------------------------- *\
  WeDo section
\* ---------------------------------------------------------- */

.wedo {
/*   background-color: #b2b2b2; */
  width: 100%;
  padding: 130px 0;
  position: relative;
  clear: both;
}

.wemake {
/*   background-color: yellow; */
  max-width: 1170px;
  height: 300px;
  margin: 0 auto;
}

.wemake .item {
/*   background-color: red; */
  width: 350px; height: 120px;
  float: left;
  margin:  10px 20px;
  position: relative;
 padding-top: 20px;
  
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 25.2px;
  margin-bottom: 10px;
  padding-left: 60px
}

.item p {
/*   color: yellow; */
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 60px;
}

.icon {
/*   background-color: yellow; */
  width: 36px; height: 40px;
  position: absolute;
  z-index: 3;
}

.icon img {
  width: 36px; height: 40px;
}

/* ---------------------------------------------------------- *\
  about section
\* ---------------------------------------------------------- */

.about {      /* Tuka zabravih kak se svalq 6torata :D i zaradi tova mu nabih nqkakva opredelena viso4ina */
  background-color: #0f0;
  width: 100%; height: 411px;
  padding-top: 200px;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-4.jpg");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  display: table;
 }

.lb {
  float: left;
  width: 457px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.rb {
  float: right;
  margin-right: 100px;
}

.rb img {
  height: 411px;
  display: table-row;
}

.lb > button {
  margin-top: 50px;
}


/* ---------------------------------------------------------- *\
  portfolio
\* ---------------------------------------------------------- */

.portfolio {
  width: 100%; 
/*   background-color: #0f0; */
}

.pitems {
  font-size: 0;
  position: relative;
  width: 100%; 
/*   height: 400px; */
/*   background-color: #f00; */
}

.pitems li {
  display: inline-block;  
  width: 25%;
  height: 23vw;
  background-color: #2b2b2b;  
}

.pitems img {
  display: inline-block;  
   width: 100%;
  height: 23vw;
  background-color: #2b2b2b;
}



/* ---------------------------------------------------------- *\
  Statistics 
\* ---------------------------------------------------------- */

.stats {
  background-color: #fcca03;
  width: 100%;
  text-align: center;
  font-size: 0;
  padding: 50px 0;
  clear: both;
}

.stats li {
  font-size: 14px;
  font-weight: 500px;
  line-height: 24px;
  width: 100px;
/*   background-color: red; */
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  padding: 20px 0;
  font-family: 'Raleway', sans-serif;
}

.stats li:nth-of-type(4) {
  margin-right: 0;
}



/* ---------------------------------------------------------- *\
  Mobile Friendly
\* ---------------------------------------------------------- */
.mfriendly {
  width: 100%;
/*   background-color: royalblue; */
  padding: 50px 0;
  
  
}


.mfControl {
  margin: 0 auto;
/*   background-color: green; */
  max-width: 1120px;
  clear: both;
  overflow: hidden; /* https://stackoverflow.com/questions/9538247/css-background-disappears-when-using-floatleft
                       https://stackoverflow.com/tags/css-floating/info
                       https://stackoverflow.com/questions/9446988/expanding-the-parent-container-with-100-height-to-account-for-floated-content/9447057#9447057 */
}


.leftBlock{
  display: inline-block;
/*   background-color: orange; */
  float: left;
}

.rightBlock {
  display: inline-block;
/*   background-color: red; */
  margin-top: 100px;
  width: 585px;
  float: left;
  margin-left: 20px;
  
}


.perks {
  margin-bottom: 50px;  
}

.perks img {
  height: 6px; width: 6px;
  float: left;
  padding-top: 10px;
} 

.perks p {
  margin-left: 20px;
}


/* ---------------------------------------------------------- *\
  Our Work
\* ---------------------------------------------------------- */

.owcontrol {
  padding: 100px 50px; 
  margin: 0 auto;
  max-width: 950px;
  
}

.ourwork {
  width: 100%;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-19.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  
}

.worklist img {
  width: 10px; height: 10px;
}

.worklist p {
  width: 400px;
}

.owcontrol > p {
  margin-right: 10px;
  max-width: 550px;
}


.owcontrol button {
  margin-top: 50px;
}

.post h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 18px;
}


/* ---------------------------------------------------------- *\
  Tests
\* ---------------------------------------------------------- */

.blog {
  padding: 100px 0;
  width: 100%;
/*   background-color: orange; */
}

.top-section {
  text-align: center;
  margin-bottom: 50px;
}


.pcontrol {
  margin: 0 auto;
  width: 100%;
/*   background-color: red; */
  
}

.pcontrol-two {
  background-color: #fff;
  max-width: 1028px;
  margin: 0 auto;
}



.post {
  width: 300px;
/*   background-color: #0ff; */
  padding: 0 20px;
  display: inline-block;
  text-align: left;
  margin: 10px 0;
}

.post img {
   height: 100%;
   width: 100%;
}

.date {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  margin-bottom: 10px;
}

.post p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 15px;
  color: #7a7a7a;
}

.rmore {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 8px;
}

.yline {
  width: 65px; height: 1px;
  background-color: #fcca03;
}



/* ---------------------------------------------------------- *\
  Testimonials
\* ---------------------------------------------------------- */

.testimonials {
  padding: 100px 0;
  background-color: red;
  text-align: center;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-5.jpg");
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonials .line {
  margin-bottom: 80px;
}

.testimonials .shell {
  max-width: 600px; height: 100px;
  display: inline-block;
}

.testimonials p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 16px;
  color: #7a7a7a;
}


.name {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;  
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  
}



/* ---------------------------------------------------------- *\
  Contact
\* ---------------------------------------------------------- */

.contact {
  padding: 100px 0;
/*   background-color: lightskyblue; */
  width: 100%;
  text-align: center;
}

.contacts {
/*   background-color: yellow; */
}

.contacts li {
/*   background-color: royalblue; */
  width: 300px;
  display: inline-block;
}

.contacts li img {
  height: 50px;
}

.contcontrol {
  display: inline-block;
  max-width: 460px;
  margin-bottom: 50px;
}

.contcontrol p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  color: #7a7a7a;

}

.contcontrol .line {
  margin-bottom: 20px;
}



/* ---------------------------------------------------------- *\
  Pre Footer
\* ---------------------------------------------------------- */

.prefooter {
  padding: 50px 0;
  background-color: #2b2b2b;
}

.fscontrol {
/*   background-color: red; */
  max-width: 1116px;
  margin: 0 auto;
  overflow: hidden;
}

.fsection {
/*   background-color: royalblue; */
  margin: 0 10px;
  float: left;
  width: 352px;
}

.fsection h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 10px;
  color: white;
}

.fsection .line {
  background-color: #fcca03;
  margin-bottom: 26px;
}

.fsection p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: white;
  margin-bottom: 28px;
}

.fsection .icon img {
  height: 15px; width: 15px;
  padding-top: 5px;
}

 .fphone p {
/*   background-color: yellow; */
  margin-left: 20px;
  margin-bottom: 10px;
}

 .fmail p {
/*   background-color: yellow; */
  margin-left: 20px;
  margin-bottom: 10px;
}

 .fadress p {
/*   background-color: yellow; */
  margin-left: 20px;
  margin-bottom: 10px;
}

.fgitems {
  display: inline-block;
}

.article {
  position: relative;
}

.article pic {
  display: inline-block;
/*   background-color: skyblue; */
  position: absolute;
  left: 0;top: 0;
  
}

.article p { 
  position: absolute;
  left: 65px; top: 10px;
/*   background-color: darkorange; */
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 24px;
}

.article p span {
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
}




.footer {
  padding: 5px 0;
  text-align: center;
  background-color: #232424;
  color: #777777;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 50px;
}








/* ---------------------------------------------------------- *\
  Tests
\* ---------------------------------------------------------- */

/* .wrapper {
  position: relative;
  z-index: 1;
}

.tery{
  position: absolute;
  color: red;
  z-index: 10;
  background-color: #fff;
  width: 100%; height: 500px;
  
  display: inline-block;
}

.tery ul {
  list-style-type: none;
}


.tery li {
  width: 200px; height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 10px;

  display: inline-block;  
}

.tery li:before {
    content: ' ';
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  background-color: yellow;

}

.bozy {
  width: 100%; height: 700px;
  position: relative;
  background-color: #dfdfdf;
  z-index: 11;
  font-size: 0;
}

.bozya {
  width: 400px;height: 400px;
  position: relative;
  float: left;
  background-color: #0f0;
  display: inline-block;
  
}

.bozyb {
  width: 400px;height: 200px;
  display: inline-block;
  position: relative;
  background-color: #0ff;
}

.bozyc {
  width: 400px;height: 200px;
  display: inline-block;
  position: relative;
  background-color: #ff0;
}
 */
