/* ---------------------------------------------------------- *\
  Reset
\* ---------------------------------------------------------- */

* {
  margin: 0; padding: 0; border: 0;
}

ul li {
  list-style-type: none;
}
/* ---------------------------------------------------------- *\
  Tests
\* ---------------------------------------------------------- */
/* 
body {
  background-color: #2b2b2b;
  
}
 */

/* ---------------------------------------------------------- *\
  Helpers
\* ---------------------------------------------------------- */


.shell:after { content: ''; display: table; line-height: 0; clear: both; }
.hidden { display: none; }


em {
/*   color: #fff; */
  font-family: 'Kaushan Script', cursive;
  font-size: 14px;
  letter-spacing: 1px;
  color: #303233;
  margin-bottom: 3px;
}

.centering {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 100px;
}

h2 {
/*     color: #fff; */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 15px;
}

.line {
  width: 36px; height: 1px;
  display: inline-block;
  background: #303233;
  margin-bottom: 15px;
}

p.smtext {
/*   color: #fff; */
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 17.14px;
  padding-bottom: 80px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #7a7a7a;
  line-height: 24px;
}



button {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 17.875px;
  padding: 14px 50px;
  text-align: center;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #fcca03;
}

button:focus {
  outline:0;
}







/* ---------------------------------------------------------- *\
  Slider Section
\* ---------------------------------------------------------- */

.slider {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: orange;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 20%; 
  z-index: 20;
  
  
}

.sltl { /* Slider text left side wrapper */
/*   background-color: red; */
  text-align: center;
  width: 660px;
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}

.sltl h3 {
  color: #303233;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: normal;
}

.sltl h1
{
  color: #303233;
  font-size: 100px;
  font-weight: bold;
  line-height: 130px;
}

p.sltext {
/*   color: #fff; */
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 80px;
}




/* ---------------------------------------------------------- *\
  WeDo section
\* ---------------------------------------------------------- */

.wedo {
/*   background-color: #b2b2b2; */
  width: 100%;
  padding: 130px 0;
  position: relative;
  clear: both;
}

.wemake {
/*   background-color: #ff0; */
  width: 100%;
  height: 300px;
}

.wemake .item {
/*   background-color: red; */
  width: 350px; height: 120px;
  float: left;
  margin:  10px 20px;
  position: relative;
 padding-top: 20px;
  
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 25.2px;
  margin-bottom: 10px;
  padding-left: 60px
}

.item p {
/*   color: yellow; */
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 60px;
}

.icon {
/*   background-color: yellow; */
  width: 36px; height: 40px;
  position: absolute;
  z-index: 3;
}

.icon img {
  width: 36px; height: 40px;
}

/* ---------------------------------------------------------- *\
  about section
\* ---------------------------------------------------------- */

.about {      /* Tuka zabravih kak se svalq 6torata :D i zaradi tova mu nabih nqkakva opredelena viso4ina */
  background-color: #0f0;
  width: 100%; height: 411px;
  padding-top: 200px;
  background-image: url("http://avonmore.gtcreators.com/images/section-bg/section-bg-4.jpg");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
 }

.lb {
  float: left;
  width: 457px;
  margin-left: 100px;
  margin-top: 30px;
}

.rb {
  float: right;
  margin-right: 100px;
}

.rb img {
  height: 411px;
}

.lb > button {
  margin-top: 50px;
}


/* ---------------------------------------------------------- *\
  portfolio
\* ---------------------------------------------------------- */

.portfolio {
  width: 100%; 
  background-color: #0f0;
}

.pitems {
  font-size: 0;
  position: relative;
  width: 100%; height: 400px;
  background-color: #f00;
}

.pitems li {
  display: inline-block;  
  width: 25%;
  height: 23vw;
  background-color: #2b2b2b;  
}

.pitems img {
  display: inline-block;  
   width: 100%;
  height: 23vw;
  background-color: #2b2b2b;
}


/* ---------------------------------------------------------- *\
  Tests
\* ---------------------------------------------------------- */

/* .wrapper {
  position: relative;
  z-index: 1;
}

.tery{
  position: absolute;
  color: red;
  z-index: 10;
  background-color: #fff;
  width: 100%; height: 500px;
  
  display: inline-block;
}

.tery ul {
  list-style-type: none;
}


.tery li {
  width: 200px; height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 10px;

  display: inline-block;  
}

.tery li:before {
    content: ' ';
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  background-color: yellow;

}

.bozy {
  width: 100%; height: 700px;
  position: relative;
  background-color: #dfdfdf;
  z-index: 11;
  font-size: 0;
}

.bozya {
  width: 400px;height: 400px;
  position: relative;
  float: left;
  background-color: #0f0;
  display: inline-block;
  
}

.bozyb {
  width: 400px;height: 200px;
  display: inline-block;
  position: relative;
  background-color: #0ff;
}

.bozyc {
  width: 400px;height: 200px;
  display: inline-block;
  position: relative;
  background-color: #ff0;
}
 */
